<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido 1</th>
          <th>Apellido 2</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of listaPersonas; let i=index"
            (click)="onPersonaClick(i, persona)"
            data-toggle="modal"
            data-target="#exampleModal"
            data-backdrop="static"
            data-keyboard="false">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{persona.nombre}}</td>
          <td>{{persona.apellido1}}</td>
          <td>{{persona.apellido2}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <app-form-persona
      [persona]="persona"
      (guardaPersona)="onGuardaPersona($event)"
    >
    </app-form-persona>
  </div>
</div>
